<div class="our-services-title py-5">
  <h2>Cyber Security</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>W-Blue commits to guide you throughout your digital transformation journey in Doha Qatar. Also known as
      Multi-Level Protection Scheme (MLPS), is a regulatory scheme designed to protect the cybersecurity of networks and
      systems in Doha. We aim to protect the network and the system components from interruption, damage, unauthorized
      access with a tiered concept to avoid any data leakage, manipulation, and eavesdropping. It is compulsory for all
      companies and individuals that own, operate, or provide services relating to network and corresponding system
      components in Doha to follow the national standards under the MLPS scheme.</p>
  </div>
</div>
