<div class="our-services-title py-5">
  <h2>W-Express</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>Unique delivery system app incorporated with our online shopping marketplace that makes every delivery hassle free.</p>
  </div>
</div>
