<mat-sidenav-container fullscreen>
  <mat-sidenav [mode]="isLargeScreen() ? 'over' : 'over'" #sidenav position="start">
    <div class="sidebar-header">
      <mat-icon id="closeButton" (click)="sidenav.toggle()">close</mat-icon>
    </div>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  


    <div class="sidebar-list">
      <ul class="list-unstyled font-weight-bold text-uppercase">
        <li routerLink='/home' (click)="sidenav.toggle()">
          Home
        </li>
        <li routerLink='/about-us' (click)="sidenav.toggle()">
          About Us
        </li>
        <li routerLink='/our-services' (click)="sidenav.toggle()">
          Our Services
        </li>
        <li routerLink='/contact-us' (click)="sidenav.toggle()">
          Contact Us
        </li>
        <li routerLink='/careers' (click)="sidenav.toggle()">
          Careers
        </li>
      </ul>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div id="bg">
      <div *ngIf="showHamburger" class="container-fluid" style="position: absolute; color: white;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button></div>
      <nav *ngIf="showToolbar" class="navbar navbar-expand-lg custom-padding" style="position: absolute; width: 100%;">
        <img src="assets/images/wblue-logo.png" routerLink="/home" alt="logo" class="img-fluid" style="width: 75px; height: auto;">
        <ul class="list-unstyled navbar-nav" style="width: 100%;">
          
          


          <li routerLink="/home" class="nav-item ml-auto">
            <a class="nav-link">Home</a>
          </li>
          <li routerLink="/about-us" class="nav-item">
            <a class="nav-link">About Us</a>
          </li>
          <li routerLink="/our-services" class="nav-item">
            <a class="nav-link">Our Services</a>
          </li>
          <li routerLink="/contact-us" class="nav-item">
            <a class="nav-link">Contact Us</a>
          </li>
          <li routerLink="/careers" class="nav-item">
            <a class="nav-link">Careers</a>
          </li>
        </ul>
      </nav>
      <img src="assets/images/banner.png" alt="banner" class="img-fluid" style="height:auto; width: 100%;">
      <div class="custom-padding">
        <div class="banner-content img-fluid">
          <h1>W-BLUE TECHNOLOGIES
            & SERVICES</h1>
          <p>We provide various services designed for Technological Solution
            in order to improve businesses that deals with advance technology</p>
          <div class="banner-buttons">
            <div class="center">
              <div class="col-6">
                <button mat-stroked-button>More Info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-padding">
      <router-outlet></router-outlet>
      <app-our-partners></app-our-partners>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
