.nav-item {
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif !important;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 20px;
  outline: none;
  

}

.navbar a:hover {
  background: #ddd;
  color: black;
}



#closeButton {
  cursor: pointer;
  color: red;
  float: right;
}

.banner-content {
  padding-top: 50px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-content h1 {
  padding-top: 100px;
  font-weight: bold;
  font-size: 4.5vw;
}

.banner-content p {
  font-size: 1.8vw;
  font-family: 'Segoe UI', sans-serif !important;
}

.banner-buttons {
  padding-bottom: 150px;
}

.banner-buttons .mat-button {
  border-radius: 50px;
  background-color: #3FADEB;
  text-transform: uppercase;
}

.banner-buttons .mat-stroked-button {
  border-radius: 50px;
  border-color: #3FADEB;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .banner-content h1 {
    font-weight: bold;
    font-size: 3.3rem;
    letter-spacing: 3px;
    line-height: 85px;
  }
  .banner-content p {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', sans-serif !important;
  }
  .banner-buttons {
    padding: 30px;
    padding-bottom: 50px;
  }
  .banner-buttons .mat-button {
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background-color: #3FADEB;
    text-transform: uppercase;
  }
  .banner-buttons .mat-stroked-button {
    border-radius: 50px;
    height: 50px;
    width: 150px;
    border-color: #3FADEB;
    text-transform: uppercase;
  }
}
