<div class="our-services-title py-5">
  <h2>W-Blue HR System</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>Complete package also known as a Human Resources Information System (HRIS) or Human Resources Management System
      (HRMS), that helps organizations to manage employee records, information, accounting and applicant screening.</p>
  </div>
</div>
