<div class="our-services-title py-5">
  <h2>W-Blue Movie Streaming App</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>An online movie platform for movie enthusiasts competing with other online streaming apps in the market with
      lowest rate but equipped with the best quality.</p>
  </div>
</div>
