<div class="our-services-title py-5">
  <h2>W-Pay</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>Financial technology services network for small and medium-size enterprises also known as financial services
      solutions.</p>
  </div>
</div>
