<div class="our-services-title py-5">
  <h2>Tech Support</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>A professional Information Technology Team that provides customers with a high quality of IT consultancy,
      computer networking and IT services.</p>
  </div>
</div>
