<div class="our-services-title py-5">
  <h2>Mobile Application Development</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>We develop & customize mobile applications derived from customer requirements.</p>
  </div>
</div>
<div class="py-5">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 py-3" *ngFor="let item of items">
      <div class="content text-left">
        <img [src]="item.img" [alt]="item.alt" class="img-fluid" style="height: 50px; width: auto;">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
