<div class="our-services-title py-5">
  <h2>W-Live</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>A social app for meeting new people around Doha and new social networking site to return social media to a
      concept
      of friends, families and followers.</p>
  </div>
</div>
