<div class="custom-title py-5">
  <h2>Our Services</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 py-3" *ngFor="let item of items">
      <div [routerLink]="item.link" class="content text-left" style="outline: none;cursor: pointer">
        <img [src]="item.img" [alt]="item.alt" class="img-fluid" style="height: 50px; width: auto;">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
