<div class="our-services-title py-5">
  <h2>24/7 Support</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>We have a support hotline for all the apps we made for our customers to protect them in any inconvenience.</p>
  </div>
</div>
