<div class="our-services-title py-5">
  <h2>W-Mall (Online Marketplace)</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>An online shopping platform that is easy to use equipped with a real time delivery system and order tracking
      system
      and safety features.</p>
  </div>
</div>
