<footer class="footer-background">
  <div class="custom-padding padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 py-3">
          <ul class="list-unstyled" style="color: white;">
            <li>
              <div class="with-icon">
                <mat-icon class="mr-3">place</mat-icon>
                <span>Building No. 20, Street No. 940
                  Zone No. 26 Doha, State of Qatar</span>
              </div>
            </li>
            <li>
              <div class="with-icon">
                <mat-icon class="mr-3">email</mat-icon>
                <span>admin@w-blue.website
                  managerwblue@outlook.com</span>
              </div>
            </li>
            <li>
              <div class="with-icon">
                <mat-icon class="mr-3">phone</mat-icon>
                <span>(+974) 7775 7320 |
                  (+974) 3012 7775 |
                  (+974) 6615 0445</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 py-3">
          <div class="footer-list">
            <ul class="list-unstyled text-uppercase">
              <li routerLink='/home'>
                Home
              </li>
              <li routerLink='/about-us'>
                About Us
              </li>
              <li routerLink='/our-services'>
                Our Services
              </li>
              <li routerLink='/contact-us'>
                Contact Us
              </li>
              <li routerLink='/careers'>
                Careers
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 py-3">
          <div class="subscribe">
            <p>Subscribe and stay up to date with
              the latest news from us</p>
            <div class="form-row">
              <div class="input-group">
                <input class="form-control" type="text" name="subscribe" style="border-radius: 0;">
                <button type="button" class="btn text-uppercase btn-sm">Subscribe</button>
              </div>
            </div>
            <div class="center-items" style="padding-top: 20px;">
              <p style="color: #3FADEB; padding: 0; margin: 0;">Follow Us</p>
            </div>
            <div class="sidebar-list">
              <ul class="list-unstyled center-items">
                <li>
                  <fa-icon [icon]="fb" style="color: white;"></fa-icon>
                </li>
                <li>
                  <fa-icon [icon]="twitter" style="color: white;"></fa-icon>
                </li>
                <li>
                  <fa-icon [icon]="insta" style="color: white;"></fa-icon>
                </li>
                <li>
                  <fa-icon [icon]="linkedin" style="color: white;"></fa-icon>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-copyright text-center py-3">© 2020 All Rights Reserved. W-Blue Technologies & Services
</div>
