.footer-background {
  width: 100%;
  background-color: #141414;
}

.footer-copyright {
  color: white;
  background-color: #191919;
}

ul li {
  padding-top: 20px;
}

.footer-list {
  color: white;
}

.footer-list ul {
  padding: 20px;
}

.footer-list ul li {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.subscribe {
  padding-top: 10px;
  color: white;
}

.subscribe button {
  background-color: #3FADEB;
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: white;
  border-radius: 0;
}

.padding-top {
  padding-top: 20px;
}
