<div class="py-5">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 py-3" *ngFor="let item of items">
      <div class="content">
        <img [src]="item.img" [alt]="item.alt" class="img-fluid" style="width: 75px; height: auto;">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
