<div class="custom-title py-5">
  <h2>Contact Us</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content text-left">
    <p>Our institution is composed of dedicated and hardworking engineers, developers, designers,
      administrators and contact center specialists who work double-time to meet the client requirements
      on time without any delay. </p>
    <p class="font-weight-bold">Customer Care</p>
    <p>Your complete peace of mind is important to us. We offer excellent after-sales support on the
      Applications and Softwares you purchase from us.</p>
    <p class="font-weight-bold">Customer Support</p>
    <p>We have 24/7 Call Center Support in all of our developed applications to ensure that there will be no
      errors and downtime with the app. We value our customer's business at all times for we know time
      is very precious to everyone.</p>
  </div>
  <div class="row">
    <div class="col-md-6 py-3">
      <div class="content text-left">
        <p>If you have questions about using W-Blue for
          your own business, fill out the form below or
          call us at +974 7775 7320.</p>
        <img src="assets/images/contact.png" class="img-fluid" style="width: 100%; height: auto;">
      </div>
    </div>

    <div class="card shadow" style="width:50%">
      <div class="col-md-6 py-3">
        <div class="content text-left">
          <form class="contact-form" (submit)="sendEmail($event)" [formGroup]="contactUsForm" #formDirective="ngForm">
            <div class="py-2">
              <mat-form-field style="width: 100%;">
                <mat-label>First Name</mat-label>
                <input matInput type="text" name="first_name" formControlName="firstName" required>
                <mat-error *ngIf="contactUsForm.controls.firstName.errors?.required">First Name is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="py-2">
              <mat-form-field style="width: 100%;">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" name="last_name" formControlName="lastName" required>
                <mat-error *ngIf="contactUsForm.controls.lastName.errors?.required">Last Name is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="py-2">
              <mat-form-field style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="from_email" formControlName="email" required>
                <mat-error *ngIf="contactUsForm.controls.email.errors?.required">Email is required
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.email.hasError('invalidEmail')">Invalid email
                  address
                </mat-error>
              </mat-form-field>
            </div>
            <div class="py-2">
              <mat-form-field style="width: 100%;">
                <mat-label>Phone</mat-label>
                <input matInput type="number" name="phone_number" formControlName="phoneNumber" required>
                <mat-error *ngIf="contactUsForm.controls.phoneNumber.errors?.required">Phone Number is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="py-2">
              <mat-form-field style="width: 100%;">
                <mat-label>How Can We Help?</mat-label>
                <textarea matInput name="description" rows="5" cols="40" formControlName="description" required></textarea>
                <mat-error *ngIf="contactUsForm.controls.description.errors?.required">This is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="py-2">
              <button mat-button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>


    
  </div>
</div>
