<div class="py-5">
  <div class="page-not-found">
    <h2>OOPS!</h2>
    <p>Error 404: Page Not Found</p>
    <div class="back-to-home">
      <button routerLink="/home" mat-button>Back to Home</button>
    </div>
  </div>
</div>
