.page-not-found {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.page-not-found h2 {
  color: #3B3B3B;
  font-size: 3.5rem;
  letter-spacing: 2px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 900 !important;
}

.page-not-found p {
  padding-bottom: 20px;
  color: #3B3B3B;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 50px;
  font-weight: 900 !important;
  text-align: center;
}

.back-to-home .mat-button {
  border-radius: 50px;
  background-color: #3FADEB;
  text-transform: uppercase;
  color: white;
}
