<div class="custom-title py-5">
  <h2>Careers</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>A career at W-Blue Trading & Services is both fulfilling and rewarding. We are committed to develop
      and invest in our people and are fully dedicated to help the country's businesses all around Doha.</p>
  </div>
</div>
<div class="custom-title py-5">
  <h2>Current Vacancies</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 py-3" *ngFor="let item of items">
        <div class="careers-content">
          <h2>{{item.title}}</h2>
          <p class="font-italic">{{item.position}}</p>
          <p>{{item.date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
