
.careers-content {
  font-family: 'Montserrat', sans-serif !important;
}

.careers-content h2 {
  color: #3FADEB;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.careers-content p {
  color: #3B3B3B;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
