<div class="custom-title py-5">
  <h2>About Us</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>W-Blue Technology & Services established in the Philippines and migrate in Doha State of Qatar with the approval
      and provision of the Qatari Law, we provide various services designed for Technological Solution in order to
      improve businesses that deals with advance technology such as delivery system, logistics, call center management,
      online & mobile application development, graphic design, tech support service (I.T), cyber security application &
      installation (Anti-Hacking System), online streaming application development, online marketplace, order app
      system, information security, etc.
    </p>
    <p>We aim to aid companies in making their businesses more progressive, innovative and successful in terms of
      providing them systematical and analytical user-friendly interface online towards technological advancement that
      will lighten up their end to end daily tasks using our services and solutions.</p>
  </div>
</div>
<div class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 py-3" *ngFor="let item of items">
        <div class="content">
          <h2 style="color: #3B3B3B;">{{item.title}}</h2>
          <div class="py-2">
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
