<div class="custom-title py-5">
  <h2>Our Partners</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div style="padding-bottom: 75px;">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xl-3 col-lg-3 col-md-6 col-6 py-3" *ngFor="let partner of partners">
        <div class="content">
          <img [src]="partner.img" [alt]="partner.alt" class="img-fluid" style="width: auto; height: 75px;">
        </div>
      </div>
    </div>
  </div>
</div>
