/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif !important;
}

.mat-button:focus, .mat-stroked-button:focus, .mat-icon-button:focus, .mat-menu-item:focus, .mat-raised-button:focus, .mat-flat-button:focus, .mat-fab:focus {
  outline: none !important;
}

.mat-toolbar {
  background-color: transparent;
}

mat-sidenav {
  min-width: 250px;
  padding: 15px;
}

.mat-drawer {
  background: white;
  color: #fff;
  overflow: hidden;
  border: 0px;
}

.sidebar-header {
  padding-bottom: 20px;
}

.sidebar-list ul li {
  padding: 10px;
  color: black;
  display: block;
}

.sidebar-list ul li:hover {
  cursor: pointer;
  text-decoration: none;
}

.sidebar-list ul li:focus {
  outline: none;
}

.sidebar-list ul li.active {
  color: white !important;
  background: #161f6a !important;
}

.center-items {
  padding: 5px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

#bg {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.with-icon {
  display: flex;
  align-items: center;
  outline: none !important;
}

.custom-padding {
  padding-left: 150px;
  padding-right: 150px;
}

.content {
  text-align: center;
}

.content h2 {
  color: #3FADEB;
  text-transform: uppercase;
  font-weight: bold;
}

.content h3 {
  padding-top: 15px;
  color: #3B3B3B;
  font-weight: bold;
}

.content p {
  color: #3B3B3B;
}

.custom-title h2 {
  color: #3B3B3B;
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 900 !important;
  text-align: center;
}

.our-services-title h2 {
  color: #3B3B3B;
  font-size: 2rem;
  letter-spacing: 2.5px;
  font-weight: 900 !important;
  text-align: center;
}

.custom-divider .mat-divider {
  text-align: center;
  border-top-color: #3FADEB;
  border-top-width: 5px;
  width: 50px;
}

.my-snack-bar {
  color: white;
  background-color: #3FADEB;
}

.my-snack-bar button {
  color: white;
}

@media only screen and (max-width: 1080px) {
  .custom-padding {
    padding-left: 60px;
    padding-right: 60px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
