<div class="our-services-title py-5">
  <h2>Call Center Management</h2>
  <div class="custom-divider center-items">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="py-5">
  <div class="content">
    <p>We create the first ever mobile call center solution. It's a full-scale, secure enterprise call center on mobile.
      Agents deliver high-quality customer service with just a smartphone and stable internet connection.</p>
  </div>
</div>
